{:paths ["src"]
 :deps {org.babashka/json {:mvn/version "0.1.6"}
        io.github.lispyclouds/bblgum {:git/sha "df647fb50f32e05b26e46e58d7249b4798e469e6"}
        com.stuartsierra/component {:mvn/version "1.2.0"}}}
