@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "../../components/**/*.{ts,tsx}";
@source "../../app/**/*.{ts,tsx}";
@source "../../content/**/*.{md,mdx}";
@source "../../mdx-components.{ts,tsx}";
